*{
  padding: 0px;
}
body{
  background: #4e1d6f;
  margin: 0, 0, 0, 0;
 
  font-family:  sans-serif;  ;
}
@font-face {
  font-family: 'Funny & Cute', sans-serif;
  src: url('Funny & Cute');
  font-weight: normal;
  font-style: normal;
}



h2{
  font-size: 2.8vw;
  color: #48ff00;

}

h3{
  font-size: 1.7vw;
  color: #ffffff;
}
p{
  font-size: 1.2vw;
  color: #7c7272;
  font-weight: 600;
}
@media (max-width:650px ) {
  h2{
    font-size: 4vw;
  }
  h3{
    font-size: 3vw;
    
  }
  p{
    font-size: 2vw;
   
  }
}
@media (max-width:425px ) {
  h2{
    font-size: 5vw;
  }
  h3{
    font-size: 4vw;
    
  }
  p{
    font-size: 2.5vw;
   
  }
}

.desctop_menu{
  display: grid;
  grid-template-columns: 20% 80%;
  /* display:flex;
  align-items: center;
  justify-content: center; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 
  background: rgb(0, 0, 0, 0.5);
  place-items: center;
}
@media (max-width:768px ) {
  .desctop_menu{
    display: none;
  }
  /* .hamb__field */
}
.main-menu{
  height: 7vw;
  width: 100%;
  
}
.menu-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center; */
  height: 5vw;
  margin-right: 3%;
}
.menu-items li{
  list-style: none;
}
.menu-items a{
  text-decoration: none;
  color:white;
  font-size: 1.4vw;
  font-weight: 600;
}
.logo2{
  display: grid;
  place-items: center
}
.logo2 img{
    width: 8vw;
    height: 8vw;
    margin-left: 5%;
}



.gradient{
  background: linear-gradient(to right, #05f50d, #05f50d, #05f50d, #05f50d);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}




.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.navbar {
  display: none;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #7a52b3;
}
@media (max-width:768px ) {
  .navbar{
    display: block;
  }
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 5%;
 
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
  .navbar__wrap .menu {
    display: none;
  }

  #hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}


.logo img{
  width: 12vw;
  height: 12vw;
}


@media (max-width:400px ) {
  .logo img{
    width: 20vw;
    height: 20vw;
  }
}













.bye{
  width: 10vw;
  height: 3.5vw;
  background: white;
  border-radius:8px;
  display: grid;
  place-items: center;
  border:3px solid black;
  
}
.bye a{
  color:black;
  font-weight: 500;
}



main{
  padding-top: 12rem;
  padding-left: 5%;
  padding-right: 5%;
}
@media (max-width:1440px ) {
  main{
    padding-top: 11rem;
  }
}
@media (max-width:1024px ) {
  main{
    padding-top: 8rem;
  }
}
@media (max-width:768px ) {
  main{
    padding-top: 7rem;
  }
}
@media (max-width:425px ) {
  main{
    padding-top: 2rem;
  }
}


  .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: left;
     
  }
  @media (max-width:650px ) {
    .info{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  .info h2{
    color:white ;
   
  }
  
  
  
  .text_info{
    display: grid;
    place-items: center;

  }
  .btn_info{
    width: 100%;
  }
  @media (max-width:650px ) {
    .btn_info {
      display: none;
      
    }
  }
  @media (max-width:425px ) {
    .btn_info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
    }
  }
  .btn_info button{
    border-radius:10px;
    width: 250px;
    height: 100px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 1vw;
    
    background: black;
    color: white;
  }
  @media (max-width:2000px ) {
    .btn_info button {
      width: 220px;
    height: 80px;
   
    }
  }
  @media (max-width:1440px ) {
    .btn_info button {
      width: 180px;
    height: 50px;
    }
  }
  @media (max-width:1050px ) {
    .btn_info button {
      width: 130px;
    height: 40px;
    }
  }
  @media (max-width:1050px ) {
    .btn_info button {
      width: 100px;
    height: 35px;
    }
  }
  @media (max-width:425px ) {
    .btn_info button {
      width: 90%;
    height: 40px;
    font-size:2.5vw ;
    }
  }
  .img_info img{
    height: 33vw;
  }
  @media (max-width:425px ) {
    .img_info img{
      height: 80vw;
    }
  }
  .contract{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    place-items: center;
    margin-top: 100px;
    width: 100%;
    height: 25vw;
    background:rgb(24, 23, 23); 
    border-radius:20px;
  }
  @media (max-width:425px ) {
    .contract{
      margin-top: 10px;
      height: 45vw;
    }
  }
  .contract h2{
    color:white ;
   

  }
  
  
  .info_contract{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    width: 100%;
    place-items: center;
  }
  .info_contract span{
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
  .supply{
    font-size: 1.5vw;
    color: white;
  }
  @media (max-width:425px ) {
    .supply{
      font-size:2.2vw ;
      font-weight: 600;
    }
  }
  .info2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;

  }
  @media (max-width:650px ) {
    .info2{
      display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 10px;
    }
  }
  .info_text2 h2{
    color:white;
    
  }
  @media (max-width:650px ) {
    .info_text2 h2{
      
      text-align: center;
    
    }
  }
  
  @media (max-width:650px ) {
    .info_text2 p{
     
      text-align: center;
    
    }
  }
  .check{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .check span{
    display: grid;
    grid-template-columns: 15% 85%;
    justify-items: start;
  }
  .check img{
    width: 2vw;
    height: 2vw;
    align-self:center;
  }
  @media (max-width:425px ) {
    .check img{
      width: 6vw;
      height: 6vw;
    
    }
  }
  .check p{
    align-self:center;
   
  }
  .info_img2{
    display: grid;
    
    place-items: center;
  }
  .info_img2 img{
    width:25vw ;
    height:25vw ;
    border:4px solid #8b00ff;
    border-radius:7px;
  }
  @media (max-width:650px ) {
    .info_img2 img{
      width:55vw ;
      height:55vw ;
    
    }
  }
  .img_box{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    place-items: center;
  }
  .img_box2{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    place-items: center;
  }
  .img_box img{
    place-items: center;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    background-color: #7fff00;
  }
  @media (max-width:425px ) {
    .img_box img{
      width: 25vw;
      height: 25vw;
    
    }
  }
  .img_box2 img{
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    background-color: #7fff00;
  }
  @media (max-width:425px ) {
    .img_box2 img{
      width: 25vw;
      height: 25vw;
    
    }
  }
  
  .info3{
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 30vw;
    background:rgb(24, 23, 23); 
    border-radius:20px;
    place-items: center;
    margin-top: 100px;
  
  }
  @media (max-width:440px ) {
    .info3{
     
      height: 100vw;
    }
  }
  @media (max-width:650px ) {
    .info3{
      margin-top: 10px;
      height: 90vw;
    }
  }
  @media (max-width:425px ) {
    .info3{
     
      height: 120vw;
    }
  }
  .info_text3{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
  }
  @media (max-width:650px ) {
    .info_text3{
      grid-template-rows:1fr 1fr 1fr;
      grid-template-columns: 1fr;
      
    }
  }
  .info_text3 span{
    display: grid;
    grid-template-rows:15% 85%;
  
    padding-top: 2% 2% 2% 2%;
  }
  .info_text3 p{
    padding: 0% 5% 5% 5%;
   
  }
  .info_text3 h3{
    margin-left: 5%
  }
  .info3 h2{
    color: white;
   
  }
  
  @media (max-width:650px ) {
    .info3 h3{
      font-size:2.5vw;
    }
  }
  

  .sol{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    margin-top: 100px;
  }
  @media (max-width:650px ) {
    .sol{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      margin-top: 20px;
    }
  }
  .sol_text{
    display: grid;
    grid-template-rows: 10% 50% 40;
    place-items: center;
    color:white;
  }
  .sol_check{
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    width: 100%;
  }
  .sol_check span{
    display: grid;
    grid-template-columns: 10% 90%;
    justify-items: start;

  }
  .sol_check img{
    width: 2vw;
    height: 2vw;
  align-self:center;
  }
  .sol h2{
   
    color:white;
  }
  
  .sol_img img{
    width: 37vw;
    height: 37vw;
  }
  @media (max-width:768px ) {
    .sol_img img{
      width: 43vw;
      height: 43vw;
    }
  }
  @media (max-width:425px ) {
    .sol_img img{
      width: 65vw;
      height: 65vw;
    }
  }
  .roadmap{
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1fr;
    place-items: center;
    color: white;
    margin-top: 100px;
  }
  .pink{
    background: pink;
  }
  @media (max-width:425px ) {
    .roadmap{
      margin-top: -50px;
      
    }
  }
  
  .roadmap h2{
   
    color: white;
  }
  
  .roadmap_box{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
    
  }
  @media (max-width:650px ) {
    .roadmap_box{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr ;
      grid-gap: 3%;
      
    }
  }
  .roadmap_text{
    border-radius:20px;
    background:rgb(24, 23, 23); 
    padding: 0% 4% 0% 4%;

  }
  .roadmap_text h3{
    
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }
  
  .roadmap_text p{
   
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }
  
.how_bye{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 95%;
  place-items: center;
  margin-top: 100px;
}
@media (max-width:768px ) {
  .how_bye{
    margin-top: 50px;
  }
}
@media (max-width:650px ) {
  .how_bye{
    margin-top: 150px;
  }
}
@media (max-width:650px ) {
  .how_bye{
    margin-top: 80px;
  }
}
.how_bye h2{
  
  color:white;
}


.box_bye{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  grid-gap: 1%;
}
@media (max-width:768px ) {
  .box_bye{
    grid-template-columns:  1fr;
    grid-template-rows:1fr 1fr;
    
    margin-top: -100px;
  }
}


.how{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1%;
  color:white;
  height: 55vw;
}
@media (max-width:768px ) {
  .how{
    height: 45vw;
    margin-top: 50px;
  }
}
@media (max-width:650px ) {
  .how{
    grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height:20vw;
  margin-top: -500px;
  }
}
@media (max-width:400px ) {
  .how{
   
  margin-top: -400px;
  }
}
.how span{
  background:rgb(24, 23, 23);
  border-radius: 15px;
 
}
@media (max-width:400px ) {
  .how span{
    margin-top: 20px;
  }
}
.how span{
  background:rgb(24, 23, 23);
  border-radius: 15px;
  margin-top: 20px;
}
.how h3{
  
  padding: 0% 15% 0% 15%;
  color:#8b00ff;
}

.how p{
  
  padding: 17% 15% 15% 15%;
  
}

iframe{
  width: 100%;
                  height: 55vw;
                  border: 0;
                  margin: 0 auto;
                  display: block;
                  border-radius: 10px;
                  max-width: 960px;
                  min-width: 280px;
                  float: right;
}
@media (max-width:768px ) {
iframe{
height: 65vw;
margin-top: 80px;
}
}
@media (max-width:650px ) {
iframe{
margin-top: 350px;
height: 100vw;
}}
@media (max-width:425px ) {
  iframe{
  margin-top: 380px;
  
  }}


.social{
  margin-top: 100px;
  display:grid ;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
@media(max-width:400px ){
  .social {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }}
 

.social img{
  width: 7vw;
  height:7vw ;
}
@media(max-width:425px ){
  .social img{
    width: 15vw;
    height:15vw ;
  }
 }

.social span{
  display: grid;

  place-items: center;
}
.so a{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  place-items: center;
  text-decoration: none;
  color: black;
}
.so p{
  color: black;
}
.footer{
  margin-top: 50px;
  display: grid;
  grid-template-columns:1fr;
  place-items: center;
  font-size: 1.3vw;
  color:black;
}
@media(max-width:425px ){
  .footer{
      font-size: 3vw;
  }}

  @media(max-width:416px ){
    main{
      margin-top: 50px;
    }
  }

  .slider{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    display: none;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  }
  .slider>a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
    margin-top: 20px;
  }

  .show {
    transform: translateX(0);
    margin-left: 0;
    
    
  }
  
  .hide {
    /* transform: translateX(200%); */
    margin-left: -1000px;
    
  
  }



  .stake-container{
    /* height: 100vh; */
    
    
  
  
  }
  .btn-stake{
    width: 150px;
  }
  .btn-stake-i{
    width: 170px;
  }

  .stake-container-i{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin-top: 150px;
   
    
    height: 70px;
    background: rgb(0, 0, 0, 0.5);
  }
  .stake-container-i>p{
    font-size: 13px;
  }
  .stake-container-main{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .stake-container-main-i{
    width: 49.6%;
    /* height:94vh; */
    background: rgb(0, 0, 0, 0.5);
    padding-bottom: 30px;
    
  }
  .stake-container-content{
    width: 30%;
    
    border-radius: 15px;
    background: rgba(54, 54, 54, 0.2);
    margin-bottom: 15px;
  }
.stake-container-content-container{
  display: flex;
  justify-content: space-around;
  
  
  justify-content:space-around;
  /* align-items:center; */
  flex-wrap: wrap;
}
.navbar-last{
display:none;
background: #7a52b3;


z-index: 2;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 75px;

}

@media (max-width: 768px) {
  .navbar-last{
    display:flex;
    justify-content: space-between;
    align-items: center;
    }

      .slider{
        display: flex;
      }
 
}

@media (max-width: 1111px) {
.stake-container-i{
margin-top: 100px;
}
.stake-container-main-i{
padding-bottom: 30px;

  
  }
  .stake-container-content{
    width: 45%;
  
  }
}

@media (max-width: 934px) {
  .stake-container-main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stake-container-main-i{
    width: 70%;
    margin-bottom: 20px;
    /* height:94vh; */
    /* background: rgb(0, 0, 0, 0.5); */
    
    
  }
  }

  @media (max-width: 623px) {
    .stake-container-content{
      width: 85%;
    
    }

    .stake-container-main-i{
      width: 85%;
      /* height:94vh; */
      /* background: rgb(0, 0, 0, 0.5); */
      
      
    }
    .btn-stake{
      width: 100px;
    }
    
  }

  .stake-p{
    margin-bottom: 10px;
    margin-left:4px ;
  }
  .kkk{
padding-bottom: 3px;
  }
  


